<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proflow.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.proflow.entity.Project">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="time_limit" property="timeLimit" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="total_amount" property="totalAmount" />
        <result column="address" property="address" />
        <result column="party_a" property="partyA" />
        <result column="party_b" property="partyB" />
        <result column="project_contract_id" property="projectContractId" />
        <result column="owner_id" property="ownerId" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <resultMap id="voBaseResultMap" extends="BaseResultMap" type="com.proflow.entity.vo.ProjectVO" >
        <result column="owner_name" property="ownerName" />
    </resultMap>

    <select id="listProject" resultMap="voBaseResultMap">
        SELECT
            p.*, u.name AS owner_name
        FROM
            project p
        LEFT JOIN user u ON p.owner_id = u.id
        <where>

            <if test="project.delFlag != null" >
                and p.del_flag = #{project.delFlag}
            </if>
            <if test="project.name != null" >
                and p.name LIKE CONCAT('%',#{project.name},'%')
            </if>
            <if test="project.type != null" >
                and p.type = #{project.type}
            </if>
            <if test="project.ownerId != null" >
                and p.owner_id = #{project.ownerId}
            </if>
        </where>
    </select>

    <select id="projectViewIds" resultType="java.lang.String">
        select DISTINCT (t.project_id) from project_phase_attachment t left join project p on p.id = t.project_id where p.del_flag = 0 order by t.project_phase_id desc

    </select>

</mapper>
