<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proflow.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.proflow.entity.Project">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="time_limit" property="timeLimit" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="total_amount" property="totalAmount" />
        <result column="address" property="address" />
        <result column="party_a" property="partyA" />
        <result column="party_b" property="partyB" />
        <result column="project_contract_id" property="projectContractId" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
